*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: rgb(31, 29, 29);
    height: 60px;
    width: 100%;
    
}
label.logo{
    color: #fff;
    font-size: 35px;
    line-height: 60px;
    padding: 0 100px;
    font-weight: 600;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 60px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 5px;
}
nav ul li a:hover{
    color:black;
    background: #fff;
    transition: 0.3s all ease;
}
.menu-btn{
    position: absolute;
    top: 0;
    right: 30px;
    line-height: 60px;
}
.icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.banner{
    height: 70vh;
    width: 100%;
    margin: auto;
    background-image: url(img/coding.png);
    background-size: 100% 100%;
    
}
.welcome{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    
    border-radius: 10px;
    background: transparent ;
    
    padding: 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.maincontent{
    width: 100%;
    
    font-weight: 800;
   
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
}
.web, .gads, .fads, .smm, .logode, .videoed, .html, .css, .js{
    width: 400px;
    height: 400px;
    padding: 8px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;
}
.web:hover, .gads:hover, .fads:hover, .smm:hover, .logode:hover, .videoed:hover, .html:hover, .css:hover, .js:hover{
    
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgb(31, 29, 29);
}
.lbtn{
    font-size: 60px;
    margin-bottom: 20px;
}

.heading{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    margin: 40px 0px;
    cursor: pointer;
}
.container{
   
    height: auto;
   
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-gap: 30px;
    
    justify-content: center;
}
.myimage{
    width: 450px;
    height: 450px;
    margin: auto;
    background-image: url(img/danish.png);
    background-repeat: no-repeat;
    
}
.myabout{
    width: 450px;
    height: 450px;
   
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.intro{
    text-align: center;
}


.footer{
    width: 100%;
    height: 45vh;
    margin-top: 60px;
    background-color: black;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.subfooter h2{
    font-size: 45px;
    color: #fff;
    cursor: pointer;
}
.footer-bottom{
    color: #fff;
}
.social{
    margin-top: 40px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
}
.social li a{
    margin: 30px;
    font-size: 40px;
    color: #fff;
}
.social li a:hover{
    color: blue;
    
}


@media(max-width:950px){
    nav ul.menu-list{
        background: rgb(31, 29, 29);
        height: 100vh;
        width: 400px;
        position: absolute;
        top: 60px;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.4s all ease-in;
        z-index: 2;
    }
    nav ul.menu-list.active{
        left: 0%;
    }
    nav ul li{
        margin: 12px 0px;
        
    }
    nav ul li a{
        color: #fff;
        
        display: block;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding-top: 0;
        font-weight: 500;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .cancel-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
}
@media(max-width:550px){
    nav ul.menu-list{
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 60px;
        left: -200%;
    }
    label.logo{
        padding: 0 20px;
    } 
}
@media(max-width:440px){
    .banner{
        width: 100%;
        height: 400px;
    }
    .welcome{
        position: absolute;
        top: 250px;
    }
    .myabout{
        width: 350px;
        height: 400px;
    }
    .myimage{
        width: 350px;
        height: 370px;
        background-size: 100% 100%;
    }
    .container{
        grid-template-columns: repeat(auto-fit, 350px);
    }
    .maincontent{
        grid-template-columns: repeat(auto-fit, 350px);
    }
    .web, .gads, .fads, .smm, .logode, .videoed, .html, .css, .js{
        width: 350px;
        height: 350px;
    }
}
